.footer{
     background-color: black;
     height: 100%;
     grid-row: 4/5;
     display: grid;
     border-top: solid white 1px;
     bottom: 0; 
     grid-template-rows: 1fr;
     grid-template-columns: repeat(3, 1fr);
     
    }

.footainer{
	justify-self:end;
	grid-row: 1/2;
	grid-column: 3/4;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3,5vh);
	display: grid;
}
.li{
	height: 3vh;
    transition: 1s;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
    margin-top: 5px;
}
.insta{
	 height: 3vh;
	text-decoration: none;
	transition: 1s; 
	grid-row: 1/2;
    grid-column: 2/3;
	align-self: start;
     margin-top: 5px;
}
.git{
	 height: 3vh;
	 place-self:center;
	 text-decoration: none;
	 transition: 1s;
	 grid-row: 1/2;
    grid-column: 3/4;
	align-self: start;
	 margin-top: 5px;

}
.li :hover{
	transform: scale(1.1);

}
.insta :hover{
	transform: scale(1.1);
}
.git :hover{
	transform: scale(1.1);
}
.list{
	grid-row: 1/2;
	grid-column: 2/3;
	place-self:center;
	align-self: end;
}
.listcomponent1{
	font-size: 1.2vw;
	color: white;
	list-style: none;
	display: inline;
	text-decoration: none;

	
}
.listcomponent2{
	color: white;
	list-style: none;
	display: inline;
	font-size: 1.2vw;
	text-decoration: none;
}
.listcomponent3{
	color: white;
	list-style: none;
	display: inline;
	font-size: 1.2vw;
    text-decoration: none;
}
